@import '@/styles/main';
@import '@/styles/globals/animations';

.container {
  padding: rem-calc(32);
  text-align: center;

  .logo {
    height: rem-calc(96);
    padding: rem-calc(24);
    will-change: filter;
    transition: filter 300ms;

    &:hover {
      filter: drop-shadow(0 0 2rem $primary);
    }

    &.react {
      animation: logo-spin infinite 20s linear;

      &:hover {
        filter: drop-shadow(0 0 2rem $secondary);
      }
    }
  }

  .title {
    font-size: rem-calc(51);
    font-weight: 700;
    line-height: 1.1;
  }

  .card {
    padding: rem-calc(32);

    .text {
      margin-top: rem-calc(32);

      code {
        font-family: monospace;
      }
    }
  }

  .docs {
    color: $black-60;
  }
}
